# Django settings
SECRET_KEY=your-secret-key-here
DEBUG=False
VERCEL=True

# Database - Neon PostgreSQL
DATABASE_URL=postgresql://neondb_owner:npg_q0Eh9UuFJjWc@ep-falling-sunset-airjnjq5-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require
